# --------------------
# Node 
# --------------------

node_modules

# --------------------
# Bower 
# --------------------

src/client/bower_components

# --------------------
# Build 
# --------------------

build

# --------------------
# Misc 
# --------------------
.tmp
.sass-cache
report
