.jumbotron
  h1(data-ng-bind='vm.text.heading')
  p(data-ng-repeat='p in vm.text.paragraphs' data-ng-bind='p')
  p
    a(class='btn btn-primary btn-lg' data-ng-repeat='a in vm.text.actions' href='a.href' role='button' data-ng-bind='a.label')
