#intro.partial(data-ng-controller='Intro as vm' data-ng-include='\'app/home/intro/intro.html\'')
#features.partial(data-ng-controller='Features as vm' data-ng-include='\'app/home/features/features.html\'')
#signup.partial(data-ng-controller='Signup as vm' data-ng-include='\'app/home/signup/signup.html\'')
